@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 430px) {
    .mobile-view{
        @apply flex flex-row h-20 w-screen items-center justify-evenly;
    }
    .sidebar-icon-mobile {
        @apply p-2 m-1 cursor-none bg-transparent shadow-none hover:bg-gray-700 hover:rounded-full hover:text-orange-600 rounded-none;
    }
    .sidebar-tooltip-mobile {
        @apply absolute w-auto min-w-max top-16 left-[-8px] rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;

    }
}
  
@layer components {
        .sidebar-icon {
            @apply relative flex items-center justify-center h-20 w-20 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-crimson hover:bg-gray-600 hover:text-orange-600 rounded-md hover:rounded-bl-3xl transition-all duration-300 ease-linear cursor-pointer;
        }

        .sidebar-tooltip {
            @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
        }

        .carousel-item {
            @apply w-[240px] h-[330px] flex justify-center items-center bg-[#7f1c88] text-white font-bold rounded-[8px] shrink-0 transition-transform duration-300 ease-in-out;
        }

        .carousel-item img {
            @apply w-full h-full object-fill;
        }

        .carousel-track {
            @apply flex gap-6 transition-transform duration-[800ms] ease-[cubic-bezier(0.25,1,0.5,1)];
        }
    
        .carousel-container {
            @apply overflow-hidden max-w-[1048px] drop-shadow-md;
        }

        .search-bar {
            @apply justify-center w-screen mt-4 text-white ml-32;
        }

        .search-bar-form {
            @apply w-3/4 flex items-start gap-2;
        }

        .search-bar-input {
            @apply flex-1 p-2 rounded-xl bg-transparent text-gray-400 backdrop-brightness-105 shadow-xl outline-custom-onyx-black outline-none;
        }
}

.games-list::-webkit-scrollbar {
    width: 8px;
  }
  .games-list::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 4px;
  }
  .games-list::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
  }
  .games-list::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }
  @keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(0.9); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  .animate-heartbeat {
    animation: heartbeat 0.5s ease-in-out;
  }

.typewriter {
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    position: relative; 
    animation: typing 1.5s steps(20, end) forwards; 
}

.typewriter::after {
    content: ''; 
    position: absolute; 
    right: 0; 
    width: .15em; 
    height: 2em; 
    background-color: crimson; 
    animation: blink-caret .75s step-end infinite 1.5s; 
}

@keyframes typing {
    from { width: 0 }
    to { width: 32%; }
}

@keyframes blink-caret {
    from, to { background-color: transparent }
    50% { background-color: crimson; }
}